nav {
  border-bottom: 2px solid var(--border-color-primary, red);
  box-shadow: 0 5px 5px var(--border-color-primary, red);
}

.container {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
